.address {
  font-style: normal;
}

.card::before, .cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 90px 50px;
  
  .nav {
    align-items: center;
    font-size: 18px;
    letter-spacing: 1%;
    line-height: 21px;
    gap: 12px;
    padding-right: 40px;
  }
  .contact-info {
    text-align: left;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 1%;
    padding-right: 37px;
  }
  .logo {
    width: 138px;
  }
  
  nav li a:focus {
    text-decoration: none;
  }
  .nav li {
    list-style-type: none;

  }
  .nav li + li::before {
    content: "◦";
    margin: 0 12px 0 0 ;
  }
  .nav li:first-child {
    list-style-type: none;
  }
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  height: 757px;
  
  .cover__slogan {
    position: relative;
    padding-top: 173px;
    padding-inline: 50px 22px;
    gap: 22px;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    width: 100%;
    color: #fff;
    z-index: 1;
    
    span {
      line-height: 100px;
      letter-spacing: 0.3em;
    }
    .end-letter {
      margin-left: 0.3em;
    }
    .start-letter {
        margin-right: 0.3em;
    }
    span:nth-child(2) {
      padding: 5px 54px 0 0;
      text-align: center;
    }
    span:nth-child(3) {
      text-align: right;
    }
  }

  .cover__auction {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    padding: 135px 50px 50px 78px;
    word-spacing: 18px;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;

    .button {
      cursor: pointer;
      color: #fff;
      border: 1px solid #fff;
      font-size: 22px;
      line-height: 25.83px;
      text-transform: uppercase;
      font-family: 'Raleway';
      padding: 11px 32px;
    }
  }
}

.lots {
  h2 {
    padding: 180px 0 4px 64px;
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .cards-container {
    padding: 0 24px 28px 24px;
    
    .cards-list {
      flex-wrap: wrap;
      list-style-type: none;
      gap: 25px;
    }

    .card {
      position: relative;
      width: 334px;
      min-height: 563px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 51px 40px 48px 40px;
      justify-content: space-between;

      h3, p {
        color: #fff;
        z-index: 1;
      }
      h3 {
        font-size: 22px;
        text-decoration: underline;
        line-height: 26.4px;
        text-transform: uppercase;
      }
      p {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
      }
    }

    .film {
      background-image: url('../images/card-lot-01.jpg');
    }
    .book {
      background-image: url('../images/card-lot-02.jpg');
    }
    .pic {
      background-image: url('../images/card-lot-03.jpg');
    }
  }
  
  a {
    text-decoration: underline;
    padding-left: 64px;
    font-size: 20px;
    line-height: 23.48px;
  }
}

.about {
  gap: 72px;
  padding: 182px 0 0 71px;

  .about__logo {
    min-width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    background-image: url('../images/logo-white.svg');
    background-repeat: no-repeat;
    background-size: 62%;
    background-position: center center;
  }
  .about__paragraph {
    padding: 102px 29px 0 0;

    h2 {
      font-size: 40px;
      line-height: 46.96px;
      padding-bottom: 100px;
      text-transform: uppercase;
    }

    .indented-paragraph {
      padding-bottom: 24px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
    }
  }
}

.footer {
  justify-content: space-between;
  padding: 180px 50px 88px 50px;

  .footer__contact-info {
    text-align: left;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 1%;
    padding-right: 37px;
  }
  .footer__nav {
    align-items: center;
    font-size: 18px;
    line-height: 21px;
  }
  .footer__nav li {
    list-style-type: none;
  }
  .footer__nav a:focus {
    text-decoration: none;
  }
  .footer__social-list {
    gap: 48px;
    .footer__social-list-item {
      width: 48px;
    }
  }
}